.filter-Data{
    width:100%;
}
.filter-Data input{
    width:100%;
    padding: 10px;
    padding-left: 24px;
}
.css-1jqq78o-placeholder{
    padding-left: 24px;
}
.css-19bb58m{
    padding-left: 24px;
}